$cl-grey: #707070;
$bg-grey: #f8f8f8;
$cl-purple-light: #46587c;
$cl-black: #1a1311;
$cl-red:#de0012;
$cl-light-orange:#ffc860;
//item
$cl-light-grey:#ebebeb;
$cl-light-black: #222c40;
$cl-placeholder: #b4b4b4;

$cl-red: #bc1220;

$bg-grey-chat:#a0a0a0;