.form_date{
    // display: table !important;
    input {
        width: 85% !important;
    }
}

.card-body .custom-date-picker .form-group {
    margin-bottom: 0;
    
}
@media( min-width: 768px) {
    .card-body .custom-date-picker .form-group {
        .input-group {
            width: 40%;
        }
    }
}
@media( max-width: 400px) {
    .card-body .custom-date-picker .form-group {
        .input-group .form-control {
            width: 70% !important;
        }
         .input-group-addon {
            width: 30% !important;
        }
    }
}

