<div class="date-picker form-body">
    <div class="form-group">
        <div [id]="uniqueId" class="input-group calendar-input date form_date" data-provide="datepicker">
            <input #datePickerID id="{{idInput}}" value="{{currentTime}}" (keyup)="checkDateFormat(datePickerID.value,uniqueId)" type="text" class="form-control">
            <div (click)="showCalendar()" class="input-group-addon">
                <span><i class="fas fa-calendar-alt"></i></span>
            </div>
        </div>
    </div>
    <span *ngIf="wrongFormat && this.router['url'] != '/top'" class="dateError">{{messageError}}</span>
</div>