<div class="container-fluid">
    <div class="row header back-ground-red d-flex justify-content-between align-items-center">
        <a [routerLink]="['/dashboard']"  class="link-home text-white ">Welltool</a>
        <div class="options col-6 col-md-7 col-lg-6 d-flex justify-content-between">
            <a class="link text-white">{{ 'TOP.TERM_OF_SERVICE' | translate }}</a>
            <a class="link text-white">{{ 'TOP.POLICY' | translate }}</a>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- footer -->
    <div class="row footer back-ground-light-black">
        <div class="inner-content-footer col-md-10 ">
            <div class="info">
                <div class="logo text-white d-flex align-items-center">
                    <img src="assets/images/ic_logo.png">Welltool
                </div>
                <ul class="contact">
                    <li class="item-link text-white">{{ 'TOP.TERM_OF_SERVICE' | translate }}</li>
                    <li class="item-link text-white  d-flex justify-content-between">
                        <span>
                            {{ 'TOP.POLICY' | translate }}
                        </span>
                        <div>
                            <i class='fab fa-facebook-f' style='font-size:42px'></i>
                            <i class='fab fa-instagram' style='font-size:42px'></i>
                            <i class='fab fa-twitter' style='font-size:42px'></i>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="text-center text-white">@2019 welltool.inc</p>
        </div>
    </div>
</div>