<div class='custom'>
  <div class='row  pageerr404'>
    <div class='col col-sm-12'>
      <div class='pageerror-top'>
        <img src='assets/images/ic_logo.png'>
      </div>
      <div class='pageerror-404'>
        <p class='c404 pper txt'>404</p>
        <p class='title404 pper txt'>not found</p>
      </div>
      <div class='pageerror-footer'>
        <button routerLink="/" class="btn btn-well-primary">
          {{'ERRORS.BACK' | translate}}</button>
      </div>
    </div>
  </div>
</div>